<!DOCTYPE html>
<html>
<head>
            <title>study tinymce</title>

<script src='js/tinymce/tinymce.min.js'></script>
<script type="text/javascript">
    var limit_chars = 2000;
    tinymce.init({
        selector: '#mytextarea',
        toolbar: 'undo redo | bold italic underline strikethrough',
        menubar: false,
        width: 300,
        height: 200,
        statusbar: false,
        init_instance_callback: function (editor) {
            editor.on('NodeChange', function (e) {
              console.log(editor.getContent().length);
            });
        }

        // setup: function (ed) {
        //     //var body = tinymce.get(ed.id).getBody();
        //     ed.on('keyup', function (e) {
        //         // var text = tinymce.trim(body.innerText || body.textContent);
        //         console.log(ed.getContent());
        //         // var count = CountCharacters();
        //         // document.getElementById("character_count").innerHTML = "Characters: " + count;
        //     });
        // }
    });
    tinymce.init({
        selector: '#myeditablediv',
        inline: true
        
    });
    
function tinymceInit() {
    tinymce.remove();
    tinymce.init({
        selector: '#mem_saleproduct_product_detail',
        height: 280,
        invalid_elements: "script",
        plugins: 'lists advlist paste',
        paste_as_text: true,
        toolbar: 'undo redo | fontsizeselect | bold italic underline strikethrough | bullist numlist',
        fontsize_formats: "8px 10px 12px 14px 18px 24px 36px 48px",
        menubar: false,
        statusbar: false
    });
}
        
</script>

</head>

<body>
<h1>study tinymce</h1>
<form>
<textarea id="mytextarea" maxlength="50"></textarea>
<br/>
<button type="button" onclick="submitData()">submit</button> 
<br/>
</form>
<br/><hr/>
<form method="post">
<div id="myeditablediv">Click here to edit!</div>
</form>
  <p onclick="check()">check</p>
  

<script type="text/javascript">
function check() {
  var editor = tinymce.get('mytextarea');
  var content = editor.getContent();
  console.log(content);
}
function submitData() {
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
           if (xhr.status == 200) {
               console.log(xhr.responseText);
           }
           else if (xhr.status == 400) {
              alert('There was an error 400');
           }
           else {
               alert('something else other than 200 was returned, status: ' + xhr.status);
           }
        }
    };

    xhr.open("POST", "/api/textformat", true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    var editor = tinymce.get('mytextarea');
    var content = editor.getContent();
    xhr.send("data="+content);
}
</script>
</body>
</html>
