<!DOCTYPE html>
<html>
<head>
            <title>study tinymce</title>

<script src='js/tinymce/tinymce.min.js'></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#mytextarea',
        toolbar: 'undo redo | bold italic underline strikethrough',
        menubar: false,
    width: 600,
    height: 300,
    statusbar: false
    });
    
      tinymce.init({
    selector: '#myeditablediv',
    inline: true
  });
</script>

</head>

<body>
<h1>TinyMCE Quick Start Guide</h1>
  <form method="post" >
    <textarea id="mytextarea"><p><strong>Hello, World!</strong> test <span style="text-decoration: line-through;">yu</span></p>
<p>&nbsp;</p>
<p>ttt</p>
<p>&nbsp;</p>
<p>yyy</p></textarea>
  </form>
  
    <form method="post">
    <div id="myeditablediv">Click here to edit!</div>
  </form>
  <p onclick="check()">check</p>
  
  
  
  <br/><hr/>

          <p><span style="text-decoration: line-through;" data-mce-style="text-decoration: line-through;">Hello, World! </span>&nbsp;&nbsp;&nbsp; sdfeerwt&nbsp; ewrwerwer<br></p><p><span style="text-decoration: underline;" data-mce-style="text-decoration: underline;"><strong>wertert</strong></span><br data-mce-bogus="1"></p><p><em>werwetert</em></p><p><em><br data-mce-bogus="1"></em></p><p><em>ภาษาไทย<br data-mce-bogus="1"></em></p><p></p>
          
<script type="text/javascript">
function check() {
  var editor = tinymce.get('mytextarea');
  var content = editor.getContent();
  console.log('"' + content + '"');
}
</script>
</body>
</html>
